.form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;
  text-align: center;
}

.form button {
  margin-top: 0.4rem;
  width: 7rem;
  border: none;
  background-color: #690d0d;
  color: #fff;
  padding: 0.4rem 0.6rem;
  border-radius: 30px;
  font-weight: bold;
  font-size: 1.1rem;
}

.form button:hover {
  background-color: #9c1414;
  cursor: pointer;
}
